#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main header {
  display: flex;
  flex-direction: row;
}

#app main header input {
  width: 100%;
  height: 32px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

#app main header .btnFiltrar {
  margin: 0 10px 10px 10px;
  width: 100px;
  border: 0;
  background: #7d40e7;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

#app main header .btnLimpar {
  margin-bottom: 10px;
  width: 100px;
  border: 0;
  background: #7d40e7;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

#app main {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }

  #app main {
    margin-left: 0;
    margin-top: 30px;
  }

  #app aside {
    width: 100%;
  }
}
